openapi: "3.0.1"
info:
  title: Cashwarden application and API documentation.
  contact:
    name: Cashwarden API Support
    url: 'https://www.cashwarden.com'
    email: caizhenghai@gmail.com
  license:
    name: Cashwarden
    url: 'https://github.com/cashwarden/server/blob/master/LICENSE'
  description:
    $ref: description.md
  version: 1.0.0
servers:
  - url: https://api.cashwarden.com
    description: Live Server

components:
  responses:
    Standard401ErrorResponse:
      description: Unauthorized
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"

    Standard4XXErrorResponse:
      description: Bad Request
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"

  schemas:
    Error:
      type: object
      properties:
        code:
          type: integer
          description: 错误码
        message:
          type: string
          description: 错误提示消息
      required:
        - code
        - message
      example:
        code: 40083
        message: 参数错误

  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

paths:
  /health_check:
    get:
      summary: 健康检查
      description: 检查服务是否正常，此接口地址不需要带 API 和版本号。
      responses:
        "200":
          description: Successful
          content:
            text/plain:
              schema:
                type: string
                example: ok
        "401":
          $ref: "#/components/responses/Standard401ErrorResponse"
        "4XX":
          $ref: "#/components/responses/Standard4XXErrorResponse"



